@(userid:Long)
@main("User recommendation") {

    <h1>¿Qué películas deberías ver?</h1>
    <input type="hidden" name="userid" id="userid_global" value="@userid"/>
<div>

    <h2> ¿Quién eres?</h2>
		<form  action = "" method="post">
            <label for="userid1">User id</label>
            <input type="number" name="userid" id="userid1" value="@userid"/>
            <input type="checkbox" name="newuser" id="newuser"/><label for="newuser">New user?</label>
            <br/>
            <button id="udpate">Update user</button>
		</form>

    <div id="ratings" style="clear: both">
        <h2>Tus calificaciones</h2>
        <ul id="ratingsList">

        </ul>

        <div id="calificar" style="clear: both">
            <form action="@routes.Application.rate()" method="post">
                <select id="allmovies" name="movie_id"></select>
                <label for="new_rating">Calificación:</label>
                <br/>
                <input type="number" id="new_rating" name="new_rating"/>

                <button>Calificar</button>
            </form>
        </div>
    </div>
</div>
<div>
</div>
    <br/>
    <div id="tusrecomendaciones">
        <script type="text/javascript" src='@routes.Assets.at("js/userzone.js")'></script>
        <h2>Tus recomendaciones</h2>

        <ul id="recs">
        </ul>
    </div>

}
